:root {
    --color-primary: rgb(255, 169, 169);
    --color-secondary: rgb(255, 200, 200);
}

body {
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 0 10vw;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: black;
}

label {
    vertical-align: middle;
}

input {
    font-size: large;
    text-align: center;
    border: 1px solid black;
    width: 40px;
    height: 30px;
    background-color: var(--color-secondary);
}

.button-main {
    font-size: 3vh;
    border-radius: 10px;
    background-color: var(--color-primary);
    padding: 2vh 2vw;
}

.button-counter {
    width: 6em;
}

.div-inputs {
    border-radius: 10px;
    background-color: var(--color-primary);
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.div-buttons {
    display: flex;
    justify-content: space-evenly;
}

.div-counters {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

.checkbox-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div-pip-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10vw;
    height: 30vh;
}

#div-pip-message {
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 30vh;
    text-align: center;
}

#div-button-help {
    position: fixed;
    bottom: 2vh;
    right: 2vw;
}

#button-help {
    color: var(--color-primary);
    font-size: 4vh;
    text-shadow: 0px 0px 2px black;
    background: transparent;
    border: none;
    padding: 1vh 1vw;
}

.icon-link {
    font-size: 2vh;
    color: black;
    text-decoration: none;
}

@media (display-mode: picture-in-picture) {
    #div-pip-element {
        justify-content: space-evenly;
        height: 100vh;
        padding: 0 5vw;
    }
    .button-main {
        font-size: 7vw;
        margin: 0 1vw;
        padding: 1vh 1vw;
    }
    .div-buttons {
        margin: 0.5vw 0;
    }
    .div-counters {
        margin: 0.5vw 0 0 0;
    }
}

